# MongoDB
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/pawfit

# Server
PORT=5000

# JWT
JWT_SECRET=your_jwt_secret_key_here

# PayPal
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret

# Paymongo (GCash)
PAYMONGO_SECRET_KEY=your_paymongo_secret_key

# Frontend
FRONTEND_URL=http://localhost:5173
